.rating {
  .bx {
    font-size: 16px;
  }
  .bxs-star {
    color: #ffb900;
  }
  .bx-star {
    color: #e09b00;
  }
  .number {
    font-weight: bold;
  }
  .rates {
    color: #575756;
    font-weight: bold;
  }
}
