.card {
  width: 268px;
  height: 440px;

  .arrow-360 {
    position: relative;
    top: -315px;
    right: 200px;
    width: 40px;
    height: 40px;
  }

  .img {
    width: 254px;
    height: 254px;
    border-radius: 10px;
    margin-top: 5px;
  }

  h6 {
    font-size: 14px;
    font-weight: bold;
  }

  .brand {
    width: 56px;
    height: 37px;
  }
}
