.similarProducts {
  h2 {
    color: #542e90;
    font-weight: bold;
  }
  h6 {
    color: #575756;
    font-size: 22px;
    font-weight: 200;
  }
  ::-webkit-scrollbar-track {
    height: 10px;
    border: 3px solid #d9d9d9;
  }

  ::-webkit-scrollbar {
    height: 4px;
    background-color: #542e90;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #542e90;
    border: 5px solid #542e90;
  }
  .similar-products {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
